.body {
  height: 100vh;
  width: 100vw;
}

.nav {
  height: 10vh;
}

#content {
  height: 90vh;
  position: relative;
}

.gravatar {
  right: 0;
}

.gravatar:hover {
  cursor: pointer;
}

.quiz {
  height: 100px;
  border-radius: 5px;
}

.primary-bg {
  background-color: rgb(50, 50, 202);
}

.quiz:hover {
  background-color: rgb(79, 79, 216);
}

.question-actions {
  left: 0;
  right: 0;
  bottom: 0;
}

.notification {
  left: 0;
  bottom: 0;
}

.count-down {
  top: 5px;
  right: 10px;
}

@media only screen and (min-width: 768px) {
  .question-actions {
    bottom: 100px;
  }
}
